/* OpenSans-Bold */

@font-face {
    font-family: 'OpenSans';
    src:
    url('../assets/fonts/Open_Sans/OpenSans-Regular.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Regular';
    src:
            url('../assets/fonts/Open_Sans/OpenSans-Regular.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'OpenSans-Bold';
    src:
            url('../assets/fonts/Open_Sans/OpenSans-Bold.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-BoldItalic';
    src:
            url('../assets/fonts/Open_Sans/OpenSans-BoldItalic.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-ExtraBold';
    src:
            url('../assets/fonts/Open_Sans/OpenSans-ExtraBold.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-ExtraBoldItalic';
    src:
            url('../assets/fonts/Open_Sans/OpenSans-ExtraBoldItalic.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Italic';
    src:
            url('../assets/fonts/Open_Sans/OpenSans-Italic.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Light';
    src:
            url('../assets/fonts/Open_Sans/OpenSans-Light.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-LightItalic';
    src:
            url('../assets/fonts/Open_Sans/OpenSans-LightItalic.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-SemiBold';
    src:
            url('../assets/fonts/Open_Sans/OpenSans-SemiBold.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-SemiBoldItalic';
    src:
            url('../assets/fonts/Open_Sans/OpenSans-SemiBoldItalic.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family:  "OpenSans-Regular";
    font-size: 14px;
    font-weight: 100;
}


.login-pf body {
    background: #37464D 0% 0% no-repeat padding-box;
    background-size: cover;
    height: 100%;
}

.alert-error {
    background-color: #FF7777;
    border-color: #FF7777;
    border-radius: 3px;
    color: #333333;
}

#kc-locale ul {
    display: none;
    position: absolute;
    background-color: #fff;
    list-style: none;
    right: 0;
    top: 20px;
    min-width: 100px;
    padding: 2px 0;
    border: solid 1px #bbb;
}

#kc-locale:hover ul {
    display: block;
    margin: 0;
}

#kc-locale ul li a {
    display: block;
    padding: 5px 14px;
    color: #000 !important;
    text-decoration: none;
    line-height: 20px;
}

#kc-locale ul li a:hover {
    color: #4d5258;
    background-color: #d4edfa;
}

#kc-locale-dropdown a {
    color: #4d5258;
    background: 0 0;
    padding: 0 15px 0 0;
    font-weight: 300;
}

#kc-locale-dropdown a:hover {
    text-decoration: none;
}

a#kc-current-locale-link {
    display: block;
    padding: 0 5px;
}

/* a#kc-current-locale-link:hover {
    background-color: rgba(0,0,0,0.2);
} */

a#kc-current-locale-link::after {
    content: "\2c5";
    margin-left: 4px;
}

.login-pf .container {
    padding-top: 40px;
}

.login-pf a:hover {
    color: #0099d3;
}

#kc-logo {
    width: 100%;
}

#kc-logo-wrapper {
    background-image: url(../img/TELUS_2020_EN_Digital_RGB.svg);
    background-repeat: no-repeat;
    height: 63px;
    width: 300px;
    margin: 62px auto 0;
}

div.kc-logo-text {
    background-image: url(../img/TELUS_2020_EN_Digital_RGB.svg);
    background-repeat: no-repeat;
    height: 130px;
    background-size: contain;
    background-position-x: center;
}

div.kc-logo-text span {
    display: none;
}

#kc-header {
    color: #ededed;
    overflow: visible;
    white-space: nowrap;
}

#kc-header-wrapper {
    font-size: 29px;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 1.2em;
    padding: 62px 10px 20px;
    white-space: normal;
}

#kc-content {
    width: 100%;
}

#kc-attempted-username{
    font-size: 20px;
    font-family:inherit;
    font-weight: normal;
    padding-right:10px;
}

#kc-username{
    text-align: center;
}

#kc-webauthn-settings-form{
    padding-top:8px;
}

/* #kc-content-wrapper {
    overflow-y: hidden;
} */

#kc-info {
    padding-bottom: 200px;
    margin-bottom: -200px;
}

#kc-info-wrapper {
    font-size: 13px;
}

#kc-form-options span {
    display: block;
}

#kc-form-options .checkbox {
    margin-top: 0;
    color: #72767b;
}

#kc-terms-text {
    margin-bottom: 20px;
}

#kc-registration {
    margin-bottom: 15px;
}

/* TOTP */

.subtitle {
    text-align: right;
    margin-top: 30px;
    color: #909090;
}

.required {
    color: #CB2915;
}

ol#kc-totp-settings {
    margin: 0;
    padding-left: 20px;
}

ul#kc-totp-supported-apps {
  margin-bottom: 10px;
}

#kc-totp-secret-qr-code {
    max-width:150px;
    max-height:150px;
}

#kc-totp-secret-key {
    background-color: #fff;
    color: #333333;
    font-size: 16px;
    padding: 10px 0;
}

/* OAuth */

#kc-oauth h3 {
    margin-top: 0;
}

#kc-oauth ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#kc-oauth ul li {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 12px;
    padding: 10px 0;
}

#kc-oauth ul li:first-of-type {
    border-top: 0;
}

#kc-oauth .kc-role {
    display: inline-block;
    width: 50%;
}

/* Code */
#kc-code textarea {
    width: 100%;
    height: 8em;
}

/* Social */
#kc-social-providers {
    padding-top: 28px;
}
#kc-social-providers ul {
    padding: 0;
}

#kc-social-providers li {
    display: block;
}

#kc-social-providers li:first-of-type {
    margin-top: 0;
}

.kc-login-tooltip{
    position:relative;
    display: inline-block;
}

.kc-login-tooltip .kc-tooltip-text{
    top:-3px;
    left:160%;
    background-color: black;
    visibility: hidden;
    color: #fff;

    min-width:130px;
    text-align: center;
    border-radius: 2px;
    box-shadow:0 1px 8px rgba(0,0,0,0.6);
    padding: 5px;

    position: absolute;
    opacity:0;
    transition:opacity 0.5s;
}

/* Show tooltip */
.kc-login-tooltip:hover .kc-tooltip-text {
    visibility: visible;
    opacity:0.7;
}

/* Arrow for tooltip */
.kc-login-tooltip .kc-tooltip-text::after {
    content: " ";
    position: absolute;
    top: 15px;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

.zocial,
a.zocial  {
    width: 100%;
    font-weight: normal;
    font-size: 14px;
    text-shadow: none;
    border: 0;
    background: #f5f5f5;
    color: #72767b;
    border-radius: 0;
    white-space: normal;
}
.zocial:before {
  border-right: 0;
  margin-right: 0;
}
.zocial span:before {
    padding: 7px 10px;
    font-size: 14px;
}
.zocial:hover {
    background: #ededed !important;
}

.zocial.facebook,
.zocial.github,
.zocial.google,
.zocial.microsoft,
.zocial.stackoverflow,
.zocial.linkedin,
.zocial.twitter {
    background-image: none;
    border: 0;

    box-shadow: none;
    text-shadow: none;
}

/* Copy of zocial windows classes to be used for microsoft's social provider button */
.zocial.microsoft:before{ content: "\f15d"; }
.zocial.stackoverflow:before{ color: inherit; }


@media (min-width: 768px) {
    #kc-container-wrapper {
        position: absolute;
        width: 100%;
    }

    .login-pf .container {
        padding-right: 80px;
    }

    #kc-locale {
        position: relative;
        text-align: right;
        z-index: 9999;
    }
}

@media (max-width: 767px) {


    /*.login-pf body {
        background: #37464D;
      } */

    .login-pf body {
        background: url("../img/login-bg-telus.jpg") no-repeat center center fixed;
        background-size: cover;
        height: 100%;
    }

    #kc-header {
        padding-left: 15px;
        padding-right: 15px;
        float: none;
        text-align: left;
    }

    #kc-header-wrapper {
      font-size: 16px;
      font-weight: bold;
      padding: 20px 60px 0 0;
      color: #72767b;
      letter-spacing: 0;
    }

    div.kc-logo-text {
        margin: 0;
        width: 150px;
        height: 32px;
        background-size: 100%;
    }

    #kc-form {
        float: none;
    }

    #kc-info-wrapper {
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        margin-top: 15px;
        padding-top: 15px;
        padding-left: 0px;
        padding-right: 15px;
    }

    #kc-social-providers li {
        display: block;
        margin-right: 5px;
    }

    .login-pf .container {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    #kc-locale {
        position: absolute;
        width: 200px;
        top: 20px;
        right: 20px;
        text-align: right;
        z-index: 9999;
    }

    #kc-logo-wrapper {
        background-size: 100px 21px;
        height: 21px;
        width: 100px;
        margin: 20px 0 0 20px;
    }

}

@media (min-height: 646px) {
    #kc-container-wrapper {
        bottom: 12%;
    }
}

@media (max-height: 645px) {
    #kc-container-wrapper {
        padding-top: 50px;
        top: 20%;
    }
}

.card-pf form.form-actions .btn {
    float: right;
    margin-left: 10px;
}


#kc-form-buttons {
  margin-top: 40px;
}

.login-pf-page .login-pf-brand {
  margin-top: 20px;
  max-width: 360px;
  width: 40%;
}

.card-pf {
  background: #37464D;
  color: #D3D6D8;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 500px;
  border-top: 0;
  box-shadow: 0 0 0;
}

/*tablet*/
@media (max-width: 840px) {
    .login-pf-page .card-pf{
      max-width: none;
      margin-left: 20px;
      margin-right: 20px;
      padding: 20px 20px 30px 20px;
    }
}
@media (max-width: 767px) {
    .login-pf-page .card-pf{
      max-width: none;
      margin-left: 0;
      margin-right: 0;
      padding-top: 0;
    }
    .card-pf.login-pf-accounts{
      max-width: none;
    }
}

.login-pf-page .login-pf-signup {
  font-size: 15px;
  color: #72767b;
}
#kc-content-wrapper .row {
  margin-left: 0;
  margin-right: 0;
}
.login-pf-page .login-pf-social-section:last-of-type {
    padding-left: 40px;
}
@media (min-width: 768px) {
  .login-pf-page .login-pf-social-section:first-of-type {
    padding-right: 39px;
    margin-right: -1px;
  }
  .login-pf-page .login-pf-social-section:last-of-type {
    padding-left: 40px;
    border-left: 1px solid #526066;

  }
  .login-pf-page .login-pf-social-section .login-pf-social-link:last-of-type {
    margin-bottom: 0;
  }
}

.login-pf-page .login-pf-social-link {
  margin-bottom: 41px
}
.login-pf-page .login-pf-social-link a {
  padding: 2px 0;
}

.login-pf-page.login-pf-page-accounts {
  margin-left: auto;
  margin-right: auto;
}

.login-pf-page .btn-primary {
    height: 48px;
    margin-top: 0;
}

.login-pf-page .list-view-pf .list-group-item {
    border-bottom: 1px solid #ededed;
}

.login-pf-page .list-view-pf-description {
    width: 100%;
}

.login-pf-page .card-pf{
  margin-bottom: 10px;
}

#kc-form-login div.form-group:last-of-type,
#kc-register-form div.form-group:last-of-type,
#kc-update-profile-form div.form-group:last-of-type {
    margin-bottom: 0px;
}

#kc-back {
    margin-top: 5px;
}

form#kc-select-back-form div.login-pf-social-section {
    padding-left: 0px;
    border-left: 0px;
}

/* Own styles */
.btn-primary {
    background: transparent linear-gradient(270deg, #D54927 0%, #E36132 50%, #F58240 100%) 0% 0% no-repeat padding-box;
    border-radius: 3px;
    color: #fff;
}

.btn-primary.active, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open .dropdown-toggle.btn-primary {
    background: transparent linear-gradient(270deg, #D54927 0%, #E36132 50%, #F58240 100%) 0% 0% no-repeat padding-box;
    border-radius: 3px;
    color: #fff;
}

.login-pf-page .login-pf-social-link a {
    display: block;
    padding: 12px 0 !important;
    font-size: 14px;
    height: 48px;
    background: #526066 0% 0% no-repeat padding-box !important;
    border-color:  #526066 !important;
    border-radius: 3px;
    text-align: center;
    color: #D3D6D8;
}

/* #B8BDC0 */

/* a.zocial {
    border-color:  #526066 !important;
} */

.login-pf-header {
    /* font: Light 42px/54px Open Sans !important; */
    font-family: "OpenSans-Light" !important;
    font-size: 32px !important;
    /* line-height: 54px; */
    letter-spacing: 0px;
    color: #D3D6D8;
    opacity: 0.8;
    padding-bottom: 50px;
    display: none;
}
 .login-pf-header h1 {
     display: none;
}

@media (min-width: 768px) {
    .login-pf-page .login-pf-header h1 {
        font-size: 32px;
    }
}

.form-control {
    display: block;
    width: 100%;
    height: 48px !important;
    padding: 4px 14px;
    font-size: 16px;
    line-height: 1.66666667;
    color: #D3D6D8;
    background: #19272E 0% 0% no-repeat padding-box;
    background-image: none;
    border: 1px solid #19272E;
    border-radius: 3px;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
input.form-control:-webkit-autofill,
input.form-control:-webkit-autofill:hover,
input.form-control:-webkit-autofill:focus {
    color: #D3D6D8;
    background: #19272E 0% 0% no-repeat padding-box;
}
input[type="password"] {
    letter-spacing: 1.3px;
}
.form-control:focus {
    border-color:#19272E;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 136, 206, 0.6);
}

#kc-form-wrapper {
    padding-bottom: 63px;
    flex-grow: 1;
}
.control-label {
    color: #D3D6D8;
    font-family: OpenSans-Light;
}
#kc-form-login::before {
    content: 'Sign In with your Tid         ';
    position: relative;
    top: -2em;
    /* left: 0.5em; */
    /* right: 1em; */
    display: block;
    text-align: center;
    font-family: OpenSans-Light;
    font-size: 1.5em;
}

.login-pf-social::before {
    content: 'Sign In with your OIDC Provider';
    position: relative;
    top: -3.25em;
    display: block;
    text-align: center;
    font-family: OpenSans-Light;
    font-size: 1.5em;
}

.btn {
    border: 0px solid transparent;
}
#kc-form input[name="login"]{
    font-size: 18px;
}
#kc-form-buttons {
    margin-top: 0;
}
a.oidc > span {
    position: relative;
    left: -2em;
}
a.oidc > span::before {
    content: url(../img/sign-in.svg);
    position: relative;
    top: 0.2em;
    left: 3px;
    opacity: 0;
    transition: opacity .3s ease-in;
}
a.oidc:active > span::before {
    content: '';
}
a.oidc:hover > span::before {
    content: url(../img/sign-in.svg);
    opacity: 1;
    position: relative;
    top: 0.2em;
    left: 3px;

}
#kc-form{
    display: flex !important;
    justify-content: center  !important;
}
.dis-none {
    display: none !important;
}

.alert {
    position: relative;
    top: -5em;
}

.pficon-error-circle-o::before, .pficon-warning-triangle-o::before {
    content: url(../img/alert-triangle.svg);
}

.login-pf, .login-pf-page  {
    background-color: #37464D !important;
}